.draggable {
    position:absolute; 
    background-color: rgb(241, 16, 54); 
    height: 100px; 
    width: 100px;
    color: white;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;   
    cursor: pointer; 
    border-radius: 50%;
  }