<!-- Loading Bar without buttons -->
<div class="center_div mt-5 mb-sm-5">
    <div class="card">
        <div class="card-header">Loading Bar without buttons</div>
        <div class="card-body">
            <div class="meter">
                <span [style.width]="width+'%'"></span><br>
            </div>
        </div>
    </div>
</div>

<!-- Loading Bar with buttons -->
<div class="center_div mt-5 mb-sm-5">
    <div class="card">
        <div class="card-header">Loading Bar with buttons</div>
        <div class="card-body">
            <div class="meter">
                <span [style.width]="width1+'%'"></span><br>
            </div>
        </div>
        <div class="card-footer">
            <button id="start-button" class="btn btn-primary ml-2 col-xs-2 col-sm-4">Start Upload</button>
            <button id="stop-button" class="btn btn-primary ml-2 col-xs-2 col-sm-4">Stop Upload</button>
        </div>
    </div>
</div>
